body{
    background-color: orangered;
}

* {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}
ol{
    text-align: left;
}

.imgspag {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}